<h1>Add New Comment</h1>

<% if @comment.errors.any? %>
  <div class="comment-errors-box">
    <p><%= pluralize(@comment.errors.count, "error") %> found:</p>

    <ul class="comment-errors-ul">
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [@user, @post, @comment], url: user_post_comments_path(@user, @post) do |form| %>
  <%= form.label :text, 'Input Comment' %>
  <%= form.text_field :text %>
  <br />
  <%= form.submit 'Create Comment entry' %>
<% end %>
