<h1>User Details</h1>
<%= render partial: 'shared/user_card', locals: { user: @user } %>
<div class="bio-card container">
  <h3 class="bio-card-header">Bio</h3>
  <p><%= @user.bio %> </p>
</div>

<div id="posts">
  <% @recent_posts.each_with_index do |post, index| %>
    <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
      <div class="container recent_post">
        <p class="post-num">Post #<%= index + 1 %></p>
        <p class="post-title"><%= post.title %></p>
        <p class="post-text"><%= post.text %></p> <!-- Add this line to display the post text -->
        <small class="counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></small>
      </div>
    </a>
  <% end %>
</div>


<div class="btn-div">
  <a href="/users/<%= @user.id %>/posts" class="see-all-posts">See all posts</a>
</div>
