<div class="detailed-post-box container">
  <div class="username-and-counters">
    <p class="dp-username"><%= @post.title %> by <%= @user.name %></p>
    <small class="dp-counters">Comments: <%= @post.comment_entries.length %>, Likes: <%= @post.likes_counter %></small>
  <% if can?(:destroy, @post) %>
  <%= button_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  </div>

  <p class="dp-text"><%= @post.text %></p>

  <%= render 'shared/like' %>
  <a href="/users/<%= @user.id %>/posts/<%= @post.id %>/comments/new" class="add-comment-box">Add a comment</a>

  <div class="dp-comments comment-card">
    <h3>Comments</h3>
    <% if @post.comment_entries.any? %>
      <ul>
        <% @post.comment_entries.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments yet.</p>
    <% end %>
  </div>
</div>

